* {
  text-align: center; 
  font-family: monospace;
  background-color: black; 
  color: greenyellow; 
}

input {
  background-color: greenyellow; 
  color: black; 
  padding: 3px; 
  border: 2px solid greenyellow; 
}

button {
  margin-top: 6px; 
  border: 2px solid greenyellow;
  font-weight: bold; 
}

button:hover {
  background-color: greenyellow;
  color: black; 
}
